<div class="row">
    <div class="col">
        <h3>Alta de Usuario</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="#">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" name="inputEmail" required>
            <label for="inputNombre">Nombre</label> <input type="text" class="form-control" name="inputNombre" required>
            <label for="selPerfil">Perfil</label>
            <select class="form-control" id="selPerfil">
                <option>Administrador</option>
                <option>Operador</option>
                <option>Participante</option>
            </select><br>
            <button class="btn btn-lg btn-success" type="">Crear</button>
        </form>
    </div>
</div>
